{% extends "layouts/base.html" %}

{% block title %} Tareas Manual {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Modificar el book</h4>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Cargar estado inicial de forma manual</div>
						</div>
						<form method="post" action="">
						{% csrf_token %}
						
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="nombre">Fecha a consultar :</label>
											<select class="form-control" id="tipof" name="tipof">
												{%for d in dias%}
													
													<option>{{d}}</option>

												{% endfor %}
											</select>
										</div>

									
									</div>

								</div>
							</div> 

							<div class="card-body">
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso A</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso B1</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso B2</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso B3</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso B4</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="nombre">Recurso C</label>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label for="tipo">Tipo de tarea</label>
											<select class="form-control" id="tipot" name="tipot">
												{%for tarea in tareas%}
													
													<option>{{tarea.nombre}}</option>

												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div> 
							<div class="card-action">
								<button type="submit" class="btn btn-primary btn-border btn-round">Modificar</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		
		</div>
	</div>

{% endblock content %}

{% comment %} <!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %} {% endcomment %}
