{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Diagrama de Gantt</h4>

			</div>
			<div class="page-category">
				<div class="card">
					<div class="card-header">
					<div class="card-title">Asignación de Recursos</div>
					</div>
					<img src="/static/assets/img/prueba.png" >
				</div>
			</div>

		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
