{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Optimizer solver</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Ejecutar los algoritmos de optimización</div>
							<label for="cant">Actualizado a la fecha</label>
						</div>
						<form method="post" action="/opt-solver.html">
						{% csrf_token %}
							<div class="card-body">
								<div class="row">
										<div class="card-body">
											<div class="row">

												<div class="col-md-6">									
													<table class="table table-bordered table-bordered-bd-default mt-4" >
														<thead>
															<tr>
																<th scope="col">Algoritmo</th>
																<th scope="col">Valor mínimo</th>
																<th scope="col">Combinación</th>
																<th scope="col">Tiempo</th>

															</tr>
														</thead>
														<tbody>
														<tr>
														<td> Algoritmos genéticos </td>
														<td>{{estados.GA.valor}}</td>
														<td>{{estados.GA.resultado}}</td>
														<td>{{estados.GA.tiempo}}</td>
														</tr>
														<tr>
														<td> Simulado recocído </td>
														<td>{{estados.SA.valor}}</td>
														<td>{{estados.SA.resultado}}</td>
														<td>{{estados.SA.tiempo}}</td>
														</tr>
														<tr>
														<td> Enjambre de partículas </td>
														<td>{{estados.PSO.valor}}</td>
														<td>{{estados.PSO.resultado}}</td>
														<td>{{estados.PSO.tiempo}}</td>
														</tr>
														<tr>
														<td> Colonia de hormigas </td>
														<td>{{estados.ACO.valor}}</td>
														<td>{{estados.ACO.resultado}}</td>
														<td>{{estados.ACO.tiempo}}</td>
														</tr>
							
														</tbody>
													</table>
												</div>
												<div class="col-md-6">
													<div class="row">
														<p>

															   
														</p>
													</div>
													<div class="row">
														<p>
														       
														</p>
													</div>
													<div class="row">
														<p>
														       
														</p>
													</div>
													<div class="row">
														<p>
														       
														</p>
													</div>
													<div class="row">
														<p>
														       
														</p>
													</div>
													<div class="row">
														<p>
														       
														</p>
													</div>
													{% if estados.GA.estado == 'terminado' and estados.SA.estado == 'terminado' and estados.PSO.estado == 'terminado' and estados.ACO.estado == 'terminado' %}																																																				
													<div class="row">

														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnGA">RUN</button>
														
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selGA">SEL</button>

													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnSA">RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selSA">SEL</button>
													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnPSO">RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selPSO">SEL</button>
													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnACO">RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selACO">SEL</button>
													</div>

													{% else %}
													<div class="row">

														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnGA" disabled>RUN</button>
														
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selGA" disabled>SEL</button>

													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnSA" disabled>RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selSA" disabled>SEL</button>
													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnPSO" disabled>RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selPSO" disabled>SEL</button>
													</div>
													<div class="row">
														<p>
														
														
														</p>
													</div>
													<div class="row">
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="btnACO" disabled>RUN</button>
														<button type="submit" class="btn btn-outline-primary mr-2" value="Click" name="selACO" disabled>SEL</button>
													</div>

													{% endif %}

												</div>
											</div>
										</div>
									
								</div>
							</div> 

						</form>
					</div>
				</div>

			</div>

		</div>
	</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}


