{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Book</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Seleccionar fecha y recurso</div>
						</div>
						<form method="post" action="/Registros-totales.html">
						{% csrf_token %}
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="nombre">Fecha a consultar :</label>
											<select class="form-control" id="tipof" name="tipof">
												{%for d in dias%}
													
													<option>{{d}}</option>

												{% endfor %}
											</select>
										</div>

									
									</div>

								</div>
							</div> 
							<div class="card-action">
								<button type="submit" class="btn btn-primary btn-border btn-round">Consultar</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
				<div class="card">
						<div class="card-header">
							<div class="card-title">Asignación de recursos</div>
							
						</div>
						<div class="card-body">
							<table class="table table-bordered table-head-bg-default table-bordered-bd-default mt-4" width="978px"	height= "100px">
								<thead>
									<tr>
										<th scope="col">Tipo</th>
										<th scope="col">Hora inicio </th>
										<th scope="col">Duración</th>
										<th scope="col">Tarea</th>
										<th scope="col">Empleado</th>
										<th scope="col">Insumos</th>
									</tr>
								</thead>
								<tbody>
								{%for i in consultas%}
								<tr>
								<td>{{i.tipo}}</td>
								<td>{{i.hinicio}}</td>
								<td>{{i.duracion}}</td>
								<td>{{i.nombre}}</td>
								<td>{{i.empleado}}</td>
								<td>{{i.insumos}}</td>
												
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
				</div>
				<div class="card">
						<div class="card-header">
							<div class="card-title">Pedidos</div>
							
						</div>
						<div class="card-body">
							<table class="table table-bordered table-head-bg-default table-bordered-bd-default mt-4" width="978px"	height= "100px">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Nombre</th>
										<th scope="col">Tipo</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Estado</th>
										<th scope="col">Fecha caducidad</th>
										<th scope="col"># palet</th>
									</tr>
								</thead>
								<tbody>
								{%for i in consultas%}
								<tr>
								<td>{{i.tipo}}</td>
								<td>{{i.hinicio}}</td>
								<td>{{i.duracion}}</td>
								<td>{{i.nombre}}</td>
								<td>{{i.empleado}}</td>
								<td>{{i.insumos}}</td>
								<td>{{i.insumos}}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
				</div> 
				<div class="card">
						<div class="card-header">
							<div class="card-title">Ingresos</div>
							
						</div>
						<div class="card-body">
							<table class="table table-bordered table-head-bg-default table-bordered-bd-default mt-4" width="978px"	height= "100px">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Producto</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Valor</th>

									</tr>
								</thead>
								<tbody>
								{%for i in consultas%}
								<tr>
								<td>{{i.tipo}}</td>
								<td>{{i.hinicio}}</td>
								<td>{{i.duracion}}</td>
								<td>{{i.nombre}}</td>												
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
				</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
